* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header{
      display: flex;
     justify-content: space-around;
  }

  .logo-header{
     width: 85px;
     margin-left: 3rem;
     margin-top: 0.5rem;
  }


.list {
    display: flex;
    justify-content: space-evenly;
    width: 670px;
    margin-top: 1.3rem;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13.5px;
    color: #9767A9;

}

li:hover{
    font-weight: 800;
    color: #9767a9da;
    cursor: pointer;
}


.divbuscar{
    margin-top: 1rem; 
}

.txtbusca{
border: 2px solid #9767A9;
border-radius: 50px;
width: 160px;
height: 30px;
font-family: 'Montserrat', sans-serif;
font-size: 13px;
color: #9767A9;
}

.btnbusca{
    position: relative;
    left: 2rem;
    top: 0.3rem;
    width: 17px;
}

.logo{
    width: 30px;
    margin-right: 0.5rem;
}

.redsociais{
    margin-top: 0.8rem;
    margin-right: 5rem;
}

.div-homem{
    background-image: url(/img/cabeludo@2x.png);
    background-size: 87rem;
    background-repeat: no-repeat;
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.h1-homem{
width: 30%;
font-family: 'Playfair Display', serif;
color: white;
font-size: 70px;
margin-top: 8rem;
margin-left: 4rem;

}

.p-homem{
 width: 25%;
margin-top: 1rem;
font: normal normal 300 40px/49px Montserrat;
letter-spacing: -1.2px;
color: #FFFFFF;
font-size: 30px;
margin-top: 8rem;
margin-right: 5rem;
}

.div-purple{background-color:#9767A9;
width: 100%;
height: 300px;
display: flex;
justify-content: space-evenly;
align-items: center;
}

.h2-purple{
 color: white;
width: 51%;
font: normal normal 900 Playfair Display;
font-size: 53px;
margin-bottom: 10rem;
}


.p-purple{
    width: 38%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
}


.espelho-img{
width:400px;
position:relative;
left: 6rem;
bottom: 3rem;
}

.txt-img-1{
    background-color:#9767A9;
    height: 380px;
    width: 450px;
    position: relative;
    left: 8rem;
   bottom: 10rem;
}

.h3-img-1{
    width: 60%;
   color: white; 
   font-family:Playfair Display; 
   font-size: 25px;
   position: relative;
   top: 1rem;
   left: 3rem;
}

.p-img-1{
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 100;
    width: 60%;
    position: relative;
   top: 1rem;
   left: 3rem;
}

.maju-img{
 width: 400px;
position:relative;
left: 45rem;
bottom: 40rem;

}
.txt-img-2{
    background-color:#9767A9;
    height: 340px;
    width: 410px;
    position: relative;
    left: 46rem;
   bottom: 45rem;
}

.h3-img-2{
    width: 60%;
   color: white; 
   font-family:Playfair Display; 
   font-size: 25px;
   position: relative;
   top: 1rem;
   left: 6rem;
}

.p-img-2{
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 100;
    width: 80%;
    position: relative;
   top: 1rem;
   left: 3rem;
}

.cabelo-man{
    width: 550px;
    position:relative;
    bottom: 50rem;
    left: 10rem;
}

.txt-img-3{
    background-color:#9767A9;
    height: 225px;
    width: 410px;
    position: relative;
    left: 14rem;
   bottom: 58rem;
}

.h3-img-3{
    width: 60%;
   color: white; 
   font-family:Playfair Display; 
   font-size: 25px;
   position: relative;
   top: 1rem;
   left: 2rem;
}

.p-img-3{
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 100;
    width: 80%;
    position: relative;
   top: 1rem;
   left: 3rem;
}

.rainha-img{
width: 450px;
position:relative;
left: 45rem;
bottom: 80rem;
}
.txt-img-4{
    background-color:#9767A9;
    height: 270px;
    width: 410px;
    position: relative;
    left: 46rem;
   bottom: 85rem;
}

.h3-img-4{
    width: 60%;
   color: white; 
   font-family:Playfair Display; 
   font-size: 25px;
   position: relative;
   top: 1rem;
   left: 6rem;
}

.p-img-4{
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 100;
    width: 85%;
    position: relative;
   top: 1rem;
   left: 3rem;
}

.maeefilha-img{
    width: 450px;
position:relative;
left: 14rem;
bottom: 95rem;
}
.txt-img-5{
    background-color:#9767A9;
    height: 300px;
    width: 410px;
    position: relative;
    left: 16rem;
   bottom: 100rem;
}

.h3-img-5{
    width: 60%;
   color: white; 
   font-family:Playfair Display; 
   font-size: 25px;
   position: relative;
   top: 1rem;
   left: 2rem;
}

.p-img-5{
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 100;
    width: 80%;
    position: relative;
   top: 1rem;
   left: 3rem;
}

.lavando-img{
    width: 550px;
    position:relative;
    left: 45rem;
    bottom: 126rem;
}
.txt-img-6{
    background-color:#9767A9;
    height: 250px;
    width: 410px;
    position: relative;
    left: 49rem;
   bottom: 130rem;
}

.h3-img-6{
    width: 68%;
   color: white; 
   font-family:Playfair Display; 
   font-size: 25px;
   position: relative;
   top: 1rem;
   left: 6rem;
}

.p-img-6{
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 100;
    width: 85%;
    position: relative;
   top: 1rem;
   left: 3rem;
}

.grisalho-img{
    width: 450px;
position:relative;
left: 16rem;
bottom: 142rem;
}

.txt-img-7{
    background-color:#9767A9;
    height: 270px;
    width: 410px;
    position: relative;
    left: 18rem;
   bottom: 144rem;
}

.h3-img-7{
    width: 60%;
   color: white; 
   font-family:Playfair Display; 
   font-size: 25px;
   position: relative;
   top: 1rem;
   left: 2rem;
}

.p-img-7{
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 100;
    width: 80%;
    position: relative;
   top: 1rem;
   left: 3rem;
}

.mola{
    width: 350px;
    position: relative; 
    left: 52rem;
    bottom: 160rem;
}